@font-face {
	font-family: nunito;
	src: url(../fonts/Nunito-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: nunito;
	src: url(../fonts/Nunito-Bold.ttf);
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: nunito, sans-serif;
}

a {text-decoration: none;}

button {border: none;}

button:hover {cursor: pointer;}


/* --- header --- */

header {
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 0 0 0 3px rgba(222, 222, 222, 0.2);
	z-index: 1;
}

.cupom-desconto {
	display: block;
	color: #fff;
	background-color: #005cff;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.cupom-desconto span {
	background-color: #093a91;
}

.header-container {
	display: flex;
	flex-flow: row wrap;
	width: 75%;
	height: auto;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
}

.header-container img {
	height: 30px;
	width: auto;
}

#form-search {
	display: flex;
	position: relative;
}

#search {
	width: 594px;
	height: 38px;
	border: 2px solid #dedede;
	border-radius: 10px;
	padding-left: 10px;
}

#search:hover {
	background-color: #d9f3ff;
	border-radius: 10px;
	border: 1px solid #005cff;
	box-shadow: 0 0 5px #093a91;
	transition-duration: 8ms;
}

#search:focus {
	background-color: #d9f3ff;
	box-shadow: 0 0 5px #093a91;
	transition-duration: 8ms;
}

#search-button {
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	top: 9px;
	right: 9px;
}

#search-button:hover path {
	fill: #005cff;
	transition-duration: 8ms;
}

.user-cart-container {
	display: flex;
	padding: 0 10px;
	height: 24px;
	font-size: 0.85em;
}

.user-cart-container p {
	padding-left: 10px;
	padding-right: 30px;
	font-size: 0.85em;
	line-height: 1.15em;
}

#cart-button {
	border: none;
	background-color: #fff;
	position: relative;
}

#cart-button img:hover {
	border-radius: 30px;;
	box-shadow: 0 0 3px #093a91;
}

.cart-count {
	position: absolute;
	right: -30%;
	top: -30%;
	font-size: 0.75em;
	background-color: #005cff;
	color: #fff;
	padding: 2px 6px;
	border-radius: 50px;
}



/* --- navigation --- */

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	width: 75%;
	height: auto;
	position: relative;
}

nav li {
	display: block;
	font-size: 0.95em;
}

.main-link {
	font-weight: bold;
}

.main-link:hover {
	letter-spacing: normal;
	color: #005cff;
}

.main-link:hover svg line {
	stroke: #005cff;
	transition-duration: 0.3s;
}

.main-link svg {
	height: 13px;
}

.main-link svg:hover line {
	stroke: #005cff;
	transition-duration: 0.3s;
}

.main-link svg:hover + .main-link-text {
	color: #005cff;
	transition-duration: 0.3s;
}

nav a {
	display: block;
	color: #222;
	text-align: center;
	padding: 10px;
	transition-property: color;
	transition-duration: 0.3s;
}

nav a:hover {
	color: #005cff;
	font-weight: bold;
	letter-spacing: -0.4px;
}

.dropdown-content, .dropdown-content-dp {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.dropdown-container {
	display: flex;
	justify-content: space-between;
}

.dropdown-columns {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.drp-links {
	flex: 1;
}

.drp-links a {
	padding: 12px 16px;
	cursor: default;
}

.drp-links span {
	padding: 13px 0 0 10px;
	cursor: default;
}

.drp-links img {
	width: 15px;
	height: auto;
}

.drp-dp, .drp-dp-1 {
	display: inherit;
	flex-flow: row;
	justify-content: space-evenly;
	color: black;
	background-color: #f5f5f5;
	font-size: 0.95em;
	text-decoration: none;
	width: 200px;
	transition-duration: 0.3s;
}

.drp-dp:hover, .drp-dp-1:hover {background-color: #ddd;}

.category-container {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: 20px 15px 0 0;
	visibility: hidden;
}

.category-list {
	flex-flow: column;
}

.category-list li {
	margin-bottom: 8px;
}

.category-title {
	font-weight: bold;
	color: #005cff;
	padding-bottom: 8px;
}

.dropdown-img {
	flex: 1;
}

.dropdown-img img {
	position: relative;
	width: 240px;
	height: 80%;
	margin: 20px;
	border-radius: 10px;
	mask-image: linear-gradient(to right, black 40%, transparent);
	flex: 1;
}

.img-text {
	display: flex;
	flex-flow: column;
	position: absolute;
	top: 65px;
	left: 55px;
	z-index: 1;
}

.img-text p {
	text-align: left;
	font-size: 1.3em;
	line-height: 1.3em;
	color: #fff;
	text-shadow: 2px 2px 5px #222;
	margin-bottom: 20px;
}

.dropdown-img button {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 3px #222;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 10px;
}

.dropdown-img button:hover {
	color: #222;
	text-shadow: 1px 1px 5px #fff;
	background-color: rgba(255, 255, 255,0.5);
	box-shadow: 0 0 5px rgba(22,22,22,0.8);;
	border: 1px solid rgba(22,22,22,1);
	transition-duration: 0.5s;
}

	/* evita o padding setado no a lá de cima */
.dropdown-img a {
	padding: 0;
}

.bg {
	position: absolute;
	background-color: #222;
	top: 0;
	width: 240px;
	height: 80%;
	margin: 20px;
	border-radius: 10px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-dp:hover .dropdown-content-dp {display: block;}

.department-container {
	display: flex;
	flex-flow: column;
	justify-content: start;
	margin-top: 20px;;
	margin-left: 30px;
	width: 60%;
}

.department-container p {
	font-size: 1.1em;
	margin-bottom: 20px;
}

.category-container-dp {
	display: flex;
	flex-flow: row;
	justify-self: space-between;
}

.img-text-2 {
	position: absolute;
	left: 20px;
}

.bg-2 {
	position: absolute;
	background-color: #222;
	top: 0;
	width: 240px;
	height: 87%;
	margin: 20px;
	border-radius: 10px;
}

.dropdown:hover .dropdown-content-dp {display: block;}



/* --- footer --- */

.about-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: start;
	background-color: #f5f5f5;
	padding-top: 40px;
	padding-inline: 15%;
	padding-bottom: 40px;
}

.about-section a {
	color: #222;
}

.about-section a:hover {
	color: #12588b;
}

.social-medias {
	display: inherit;
	flex-flow: column;
}

.avanti-social img {
	filter: grayscale(1);
	width: 140px;
	height: auto;
	margin: 15px;
}

.social-icons {
	display: inherit;
	justify-content: space-between;
}

.social-icons img {
	width: 20px;
	height: 20px;
	margin: 15px;
}

.contact-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 15px;
}

.contact-column {
	display: inherit;
	flex-flow: column;
	margin-inline: 25px;
}

.contact-column span {
	font-size: 0.9em;
}

h4 {
	font-size: 0.9em;
	margin-bottom: 20px;
}

h5 {
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 8px;
}

.payment-methods {
	display: flex;
	flex-flow: row wrap;
}

.payment-methods img {
	width: 25px;
	height: auto;
	margin: 25px 10px 0;
}

.footer-info {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding-inline: 15%;
	margin: 40px auto;
}

.footer-text {
	text-align: center;
	font-size: 0.8em;
	margin-inline: 15%;
	margin-bottom: 20px;
}

.footer-icons img {
	width: 40px;
	height: auto;
	margin: 0 15px;
}


@media (max-width: 1100px) {

	.header-container {
		width: 80%;
		justify-content: center;
		row-gap: 10px;
		column-gap: 60px;
	}

	#search {
		width: 300px;
	}

	nav ul {
		width: 90%;
	}
}

@media (max-width: 768px) {

	.dropdown-dp {
		display: none;
	}

	nav ul {
		justify-content: center;
	}

	nav a {
		font-weight: bold;
	}

	.main-link-text {
		display: none;
	}
	
	.user-name {
		display: none;
	}
	
	.category-container, ul .dropdown-img {
		display: none;
	}

	.dropdown-content {
		left: auto;
		max-width: min-content;
		background-color: #ddd;
	}

	.footer-text {
		margin-inline: 0;
	}
}